<div class="contents">
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <div class="content_list">
        <p><%= item.name %></p>
        <p><%= item.people %></p>
        <p><%= item.time %></p>
        <p><%= item.age %></p>
        <%= link_to "詳細", '/items/#{item.id}', class: "item_page" %>
      </div>
    </div>
  <% end %>
</div>

