<div class="contents">
  <div class="content_post" style="background-image: url(<%= @item.image %>);">
    <div class="content_list">
      <p><%= @item.name %></p>
      <p><%= @item.people %></p>
      <p><%= @item.time %></p>
      <p><%= @item.age %></p>
    </div>
    <p><%= @item.rule %></p>
  </div>
</div>